<template>
  <v-app>
    <v-app-bar app color="primary" dark dense>


      <v-spacer></v-spacer>
      <v-toolbar-title class="subtitle-1">Liste de choses à faire</v-toolbar-title>
      <v-spacer></v-spacer>

      <v-app-bar-nav-icon></v-app-bar-nav-icon>

    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>


  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>
