<template>
   <v-container fluid fill-height>
      <v-spacer/>
         <v-card class="mx-auto" max-width="400" tile>
            <v-btn color="primary" dark small fab @click="addTodo">
               <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-list>
               <v-list-item v-for="todo in todoList" :key="todo.id">
                  <v-list-item-content>
                     <v-text-field :value="todo.name" @input="patchTodoName(todo.id, $event)" placeholder="Saisir nom" />
                  </v-list-item-content>
                  <v-list-item-action>
                     <v-btn icon @click.stop="deleteTodo(todo.id)">
                        <v-icon color="grey lighten-1">mdi-delete</v-icon>
                     </v-btn>
                  </v-list-item-action>
               </v-list-item>
            </v-list>
         </v-card>
      <v-spacer/>
   </v-container>
</template>

<script>
import app from '@/feathers-client'

export default {
   name: 'Home',

   data: () => ({

   }),

   computed: {
      todoList() {
         let todoDict = this.$store.state.todos
         if (todoDict === undefined) {
            this.$store.dispatch('FETCH_TODOS')
            return []
         }
         return Object.values(todoDict)
      }
   },

   methods: {
      patchTodoName(id, name) {
         app.service('todos').patch(id, { name })
      },
      deleteTodo(id) {
         app.service('todos').remove(id)
      },
      addTodo() {
         app.service('todos').create({})
      },
   },
}
</script>
